.header{
    position: sticky;
    background-color: rgb(0, 0, 0);
}
.content-utama{
    background-image: url('../asset/background.jpeg');
    background-repeat: no-repeat;

}

.garis1{
    background-color: rgb(253, 250, 250);
    width: 95%;
    padding:1px;
    border-radius: 16px;
    margin-bottom: 3px;
}
.garis2{
    background-color: rgb(253, 251, 251);
    width: 95%;
    padding: 1px;
    border-radius: 16px;
    margin-bottom: 3px;
}
.garis3{
    background-color: rgb(253, 252, 252);
    width: 95%;
    padding: 1px;
    border-radius: 16px;
}

.kotak-menu{
    background-color: rgb(2, 2, 2);
    margin-top: 15px;
    margin-left: 20%;
    padding:5%
}

.kotak-menu:hover{
    background-color: aliceblue;
}
.kotak-menu:active{
    background-color: rgba(255, 230, 0, 0.829);
}

.text{
    color: aliceblue;
    text-align: center;
    margin-top: 10px;
}
.subjudul{
    color: aliceblue;
}
.daftar-harga-head{
    background-color: rgb(114, 239, 255);
    width: 100%;
    height: 20%;
}
.daftar-harga{
    background-color: aliceblue;
    width: 100%;
    padding: 10px;
}
.bulan{
    color: rgb(78, 125, 226);
    font-style: italic;
    text-align: center;
}
.harga{
    text-decoration: underline;
    text-align: center;
    color: blue;
    font-size: small;
}
