html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(238, 237, 237, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    text-align: left;
    width : 326px;
}
.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(55.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color : #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

body{
    align-items: center;
    display: flex;
    font-family: 'dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
    background: linear-gradient(320deg, #000000, #444040);
}
.tulisan{
    margin-bottom: -0px;
    padding-left: 10px;
}

.header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 30px;
}

.masuk{
    background-color: aquamarine;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
.masuk:hover{
    background-color: aliceblue;
}
.masuk:active{
    background-color: #ffef78;
}

.input{
    font-size: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 16px;
    border: none;
    outline: none;
    background: aliceblue;
}

/* Tombol default */
#togglePasswordButton {
    width: 32px; /* Sesuaikan ukuran */
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 7px;
    border: none;
    cursor: pointer;
}

#Confirm {
    width: 32px; /* Sesuaikan ukuran */
    height: 32px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 7px;
    border: none;
    cursor: pointer;
}

/* Ikon untuk "Show password" */
.show-password {
    background-image: url('../asset/mata-melek.png'); 
}

/* Ikon untuk "Hide password" */
.hide-password {
    background-image: url('../asset/mata-merem.png');
}
.passwordnconfirm {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.bulan{
    position: absolute;
    width: 20%;
    top: 5px;
    left: 0;
}

.kelalawar1 {
    position: absolute;
    width: 20%;
    top: 5px;
    right:0
}

.rumah {
    position: absolute;
    width: 90%;
    bottom: 0px;
}
.penyihir {
    position: absolute;
    width: 20%;
    top: 0;
    left: 60px;
}
